<?xml version="1.0"?>
<SolisSearch>
  <SolrServer address="http://localhost:8983/solr/" username="" licenseKey="" />
  <SearchSettings defaultField="text" enableLanguageSupport="false" enabledLanguages="en,sv" highlight="true" highlightFields="content" fragmenter="regex" fragsize="300" defaultOperator="AND" />  
  <Languages />
  <DocTypes>

    <DocType name="homepage">
      <Properties>
        <!--details-->
        <Property name="d1" property="contentTitle" type="text" content="false" striphtml="false" />

        <!--- <Property name="r1" property="relatedLinks" type="relatedLinks" parser="SolisSearch.Umb.Parsers.RelatedLinksParser,SolisSearch.Umb" /> -->
      </Properties>
    </DocType>

    <DocType name="vehicle">
      <Properties>
        <!--details-->
        <Property name="d1" property="nid" type="text" content="false" striphtml="false" />
        <Property name="d2" property="uuid" type="text" content="false" striphtml="false" />
        <Property name="d3" property="vid" type="text" content="false" striphtml="false" />
        <Property name="d4" property="type" type="text" content="false" striphtml="false" />
        <Property name="d5" property="title" type="text" content="false" striphtml="false" />
        <Property name="d6" property="uid" type="text" content="false" striphtml="false" />
        <Property name="d7" property="status" type="text" content="false" striphtml="false" />
        <Property name="d8" property="created" type="text" content="false" striphtml="false" />
        <Property name="d9" property="changed" type="text" content="false" striphtml="false" />

        <!--attributes-->
        <Property name="p1" property="imageHero" type="text" content="false" striphtml="false" />
        <Property name="p2" property="imageThumb" type="text" content="false" striphtml="false" />
        <Property name="p3" property="codeGroup" type="text" content="false" striphtml="false" />
        <Property name="p4" property="consonaCode" type="text" content="false" striphtml="false" />
        <Property name="p5" property="modelCode" type="text" content="false" striphtml="false" />
        <Property name="p6" property="brochure" type="text" content="false" striphtml="false" />
        <Property name="p7" property="codeHDCC" type="text" content="false" striphtml="false" />
        <Property name="p8" property="hidden" type="text" content="false" striphtml="false" />
        <Property name="p9" property="prcHidden" type="text" content="false" striphtml="false" />
        <Property name="p10" property="textName" type="text" content="false" striphtml="false" />
        <Property name="p11" property="imageHeader" type="text" content="false" striphtml="false" />

        <!--- <Property name="r1" property="relatedLinks" type="relatedLinks" parser="SolisSearch.Umb.Parsers.RelatedLinksParser,SolisSearch.Umb" /> -->
      </Properties>
    </DocType>

    <DocType name="variant">
      <Properties>
        <!--details-->
        <Property name="d1" property="nid" type="text" content="false" striphtml="false" />
        <Property name="d2" property="uuid" type="text" content="false" striphtml="false" />
        <Property name="d3" property="vid" type="text" content="false" striphtml="false" />
        <Property name="d4" property="type" type="text" content="false" striphtml="false" />
        <Property name="d5" property="title" type="text" content="false" striphtml="false" />
        <Property name="d6" property="uid" type="text" content="false" striphtml="false" />
        <Property name="d7" property="status" type="text" content="false" striphtml="false" />
        <Property name="d8" property="created" type="text" content="false" striphtml="false" />
        <Property name="d9" property="changed" type="text" content="false" striphtml="false" />

        <!--attributes-->
        <Property name="p1" property="imageHero" type="text" content="false" striphtml="false" />
        <Property name="p2" property="imageThumb" type="text" content="false" striphtml="false" />
        <Property name="p3" property="codeGroup" type="text" content="false" striphtml="false" />
        <Property name="p4" property="consonaCode" type="text" content="false" striphtml="false" />
        <Property name="p5" property="modelCode" type="text" content="false" striphtml="false" />
        <Property name="p6" property="brochure" type="text" content="false" striphtml="false" />
        <Property name="p7" property="codeHDCC" type="text" content="false" striphtml="false" />
        <Property name="p8" property="hidden" type="text" content="false" striphtml="false" />
        <Property name="p9" property="prcHidden" type="text" content="false" striphtml="false" />
        <Property name="p10" property="textName" type="text" content="false" striphtml="false" />
        <Property name="p11" property="imageHeader" type="text" content="false" striphtml="false" />

        <!--- <Property name="r1" property="relatedLinks" type="relatedLinks" parser="SolisSearch.Umb.Parsers.RelatedLinksParser,SolisSearch.Umb" /> -->
      </Properties>
    </DocType>


    <DocType name="subvariant">
      <Properties>
        <!--details-->
        <Property name="d1" property="nid" type="text" content="false" striphtml="false" />
        <Property name="d2" property="uuid" type="text" content="false" striphtml="false" />
        <Property name="d3" property="vid" type="text" content="false" striphtml="false" />
        <Property name="d4" property="type" type="text" content="false" striphtml="false" />
        <Property name="d5" property="title" type="text" content="false" striphtml="false" />
        <Property name="d6" property="uid" type="text" content="false" striphtml="false" />
        <Property name="d7" property="status" type="text" content="false" striphtml="false" />
        <Property name="d8" property="created" type="text" content="false" striphtml="false" />
        <Property name="d9" property="changed" type="text" content="false" striphtml="false" />

        <!--attributes-->
        <Property name="p1" property="imageHero" type="text" content="false" striphtml="false" />
        <Property name="p2" property="imageThumb" type="text" content="false" striphtml="false" />
        <Property name="p3" property="codeGroup" type="text" content="false" striphtml="false" />
        <Property name="p4" property="consonaCode" type="text" content="false" striphtml="false" />
        <Property name="p5" property="modelCode" type="text" content="false" striphtml="false" />
        <Property name="p6" property="brochure" type="text" content="false" striphtml="false" />
        <Property name="p7" property="codeHDCC" type="text" content="false" striphtml="false" />
        <Property name="p8" property="hidden" type="text" content="false" striphtml="false" />
        <Property name="p9" property="prcHidden" type="text" content="false" striphtml="false" />
        <Property name="p10" property="textName" type="text" content="false" striphtml="false" />
        <Property name="p11" property="imageHeader" type="text" content="false" striphtml="false" />

        <!--- <Property name="r1" property="relatedLinks" type="relatedLinks" parser="SolisSearch.Umb.Parsers.RelatedLinksParser,SolisSearch.Umb" /> -->
      </Properties>
    </DocType>
  </DocTypes>
  
  <Cores>
    <Core name="VWPUBLISHED" type="CmsSearchResultItem"></Core>
    <Core name="VWUNPUBLISHED" type="CmsSearchResultItemClone"></Core>
  </Cores>
  
  <Facets />
</SolisSearch>
